@charset "UTF-8";
@media screen and (max-width: 980px) {

  /* header */
  header {
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 1vh;
  }

  /* main */
  main {
    height: auto;
    width: 95%;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  /* left */
  .user-input .input-buttons {
    display: none;
  }

  .product-info h2 {
    font-size: 1em;
    width: 100%;
  }

  .product-info h2.is-long {
    font-size: 0.8em;
  }

  .product-info h2.is-very-long {
    font-size: 0.7em;
  }




  .button-newgame {
    width: 65%;
  }

  .user-input>div {
    gap: 3rem;
  }

  .submit-input {
    max-width: 40%;
    min-width: 40%;
  }

  .submit-input .input-price {
    width: 12rem;
  }

  .time-left {
    width: 4.5rem;
    height: 4.5rem;
  }

  /* right */
  .right .ranktop1 {
    font-size: 1rem;
  }

  .right .rank-list {
    font-size: 0.7rem;
    padding: 0.2rem 0;

    max-height: 65%;
    min-height: 65%;
  }

  .right .rank-list table tr {
    line-height: 1.5rem;
  }

  .right .ranktop1 {
    gap: 1rem;

  }

  .top1 {
    width: 2rem;
    height: 2rem;

  }

  .user-data {
    max-height: 30%;
    min-height: 30%;
    padding: 0 0.5rem;
  }

  .user-data .user-data-content {
    gap: 1rem;
  }

  .user-data .user-data-content div {
    width: 60%;
    font-size: 0.87em;
    gap: 0.1rem;
  }

  .right .user-data ul {
    gap: 0.1rem;
  }

  .user-data .user-data-content .rank-mark {
    width: 4rem;
    height: 4rem;
  }
}