@charset "UTF-8";

:root {
  --base-color: #2c539e;
  --title-color: #f1497d;
  --content-border-color: #a08fbc;
  --content-padding-color: #fff5ec;
  --content-background-color: #fad9ae;
  --accent-color: #3ba8ec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--base-color);
}

/*----------- header -----------*/
header {
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header h1{
  display: flex;
  align-items: center;
}
header h1 .logo {
  width: 12rem;
}

.header-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-button {
  padding: 0.3rem 2rem;
  min-height: 2rem;
  max-height: 2rem;
}

/*----------- main -----------*/
main {
  width: 75vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  gap: 1vw;

  flex-wrap: wrap;
}

/*----------- .left -----------*/
.left {
  width: 35vw;
  height: 100%;

  background-color: var(--content-border-color);
  padding: 0.5rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  min-height: 0;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.left-content {
  border-radius: 1rem;
  background-color: var(--content-padding-color);

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  min-height: 100%;

  padding: 0.75rem;
}

/* product */
.product-info {
  width: 100%;
  flex: 1 1 auto;
  min-height: 70%;
  max-height: 70%;
  overflow: none; 

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;


  background-color: var(--content-background-color);
  border-radius: 1rem;
  padding: 0.75rem;
}

.product-info .product-source {
  width: 70%;
  min-height: 2rem;
  text-align: center;
}

.product-info h2 {
  width: 85%;
  max-height: 60%;
  text-align: center;

  line-height: 1.2;
  min-height: 3.6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 1.1em;

  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.product-info h2.is-long {
  font-size: 0.92em;
}

.product-info h2.is-very-long {
  font-size: 0.77em;
}

.product-imagediv {
  width: 75%;
  max-width: 75%;
  aspect-ratio: 1 / 1;

  position: relative;
  overflow: hidden;

  border-radius: 1rem;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product-info .product-imagediv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none;
}

.button-newgame {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 40%;
  height: 15%;

  font-size: 1.3rem;
}

/* userinput */
.user-input {
  flex-shrink: 0;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;

  background-color: var(--content-background-color);
  padding: 1rem 0.5rem;
  border-radius: 1rem;


  max-height: 25%;
  min-height: 25%;
}

.user-input > div {
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}



.user-input .input-buttons {
  min-width: 32%;
  max-width: 32%;

  display: flex;
  flex-wrap: wrap;
  gap: 0.3%;
  row-gap: 0.3rem;
}

.input-button {
  height: 2rem;
  width: 33%;
}

#input-button0 {
  width: 66.66%;
}

#input-buttoncommit {
  width: 66.66%;
}

.input-buttons .clear {
  background-color: orange;
}

.submit-input {
  min-width: 55%;
  max-width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit-input .input-price {
  width: 15rem;
  height: 3rem;
  margin-bottom: 0.3rem;
  text-align: center;
  font-size: 2rem;
}
.time-left {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;

  width: 6rem;
  height: 6rem;
  border: black solid 2px;
  border-radius: 50%;
  text-align: center;
}

/*----------- .right -----------*/
.right {
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--content-border-color);
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.right-content {
  width: 100%;
  min-height: 100%;

  border-radius: 1rem;
  padding: 0.75rem;
  background-color: var(--content-padding-color);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ranklist */
.rank-list {
  background-color: var(--content-background-color);
  border-radius: 1rem;
  max-height: 60%;
  min-height: 60%;
  padding: 1rem 0.2rem;
}

/* top1 */
.right .ranktop1 {
  font-size: 1.2rem;
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  align-items: center;

}

.top1 {
  background-color: var(--accent-color);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


.right .rank-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.right .rank-list table {
  width: 100%;
  text-align: center;
}

.right .rank-list table tr {
  line-height: 2.2rem;
}

/* user-data */
.user-data{
  max-height: 35%;
  min-height: 35%;

  background-color: var(--content-background-color);
  border-radius: 1rem;
  margin-top: 5%;
  padding: 1rem 0.5rem;
}

.user-data .user-data-content{
  display: flex;
  gap:4rem;
  align-items: center;
  width: 100%;
  height: 80%;
  justify-content: center;
}
.user-data .user-data-content div{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.right .user-data ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.user-data .user-data-content .rank-mark{
  background-color: #3ba8ec;
  width: 6rem;
  height: 6rem;

  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;


  border-radius: 50%;
}

/*----------- footer -----------*/
footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}





